<header>

<h1><% @project.name %></h1>

<ul class="actions">
  <li><%= link_to "Edit Project", edit_project_path(@project),
   class: "edit" %></li>

  <li><%= link_to "Delete Project", project_path(@project),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this project?" },
    class: "delete" %></li>
</ul>
</header>


<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<header>
  <h2>Tickets</h2>

  <ul class="actions">
    <li><%= link_to "New Ticket", new_project_ticket_path(@project),
      class: "new" %></li>
  </ul>
</header>

<ul id="tickets">
  <% @project.tickets.each do | ticket | %>
    <li>
      #<%= ticket.id %> -
      <%= link_to ticket.name, [@project, ticket] %>
    </li>
  <% end %>
</ul>


